/* General */

body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 300;
}

b { font-weight: bold; }

.spacing { height: 20px; }

.hidden, .mobile {
  display: none;
}

/* Top nav bar */

header {
  position: fixed;
  width: 100vw;
  color: #fff;
  background-color: #252525;
  display: flex;
  justify-content: space-between;
  padding: 24px 36px;
  z-index: 9999;
}

h1 {
  font-weight: 900;
  font-size: 40px;
  text-transform: uppercase;
}

nav a {
  display: inline-block;
  margin: 0 6px;
  width: 35px;
  height: 35px;
  background-size: contain;
}

nav a:first-of-type {
  margin-left: 0;
}

nav a:hover {
  filter: contrast(50%);
}

a.mashr-icon {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background: #030b14;
  filter: invert(100%);
}

a.mashr-icon img {
  background: transparent;
  filter: invert(100%);
}

nav a.mashr-icon:hover {
  filter: contrast(50%);
}

nav a.mashr-icon:hover img {
  filter: contrast(100%)
}

a.email {
  background-image: url("../images/email.png");
  filter: invert(100%);
}

a.linkedin {
  background-image: url("../images/linkedin.png");
  filter: invert(100%);
  border-radius: 100%;
}

a.github {
  background-image: url("../images/github.png");
  filter: invert(100%);
}

/* Main */

.javascript-icon {
  filter: invert(100%);
}

main,
footer {
  color: #ffffff;
}

main h2,
footer h2 {
  margin-bottom: 18px;
  font-size: 45px;
  font-weight: 500;
  white-space: nowrap;  
}

main p,
footer p {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 20px;
}

main p:last-of-type,
footer p:last-of-type {
  margin-bottom: 40px;
}

main p a,
footer p a,
footer small a {
  font-weight: 500;
  border-bottom: 1px solid #ffffff;
}

.light p a {
  border-bottom: 1px solid #030c15;
}

.light p a:hover {
  background-color: #003c67;
  color: #ffffff;
}

main p a:hover,
footer p a:hover,
footer small a:hover {
  background-color: #ffffff;
  color: #252525;
}

main section,
footer {
  display: flex;
}

.intro {
  background-color: #003c67;
  min-height: 100vh;
}

.intro {
  padding-top: 88px;
}

.intro .image {
  display: flex;
  align-items: center;
  width: 40%;
}

.intro .image div {
  margin: 0 auto;
}

.intro img {
  display: block;
  border-radius: 100%;
  border: 1px solid #233f6b;
  height: 30vw;
  width: 30vw;
}

.box {
  width: 60%;
}

h2 img,
p img {
  display: inline-block;
  height: 42px;
  padding: 0 10px;
  margin-bottom: -8px;
}

main article,
footer article {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer article {
  background-color: #252525;
}

button {
  padding: 16px 32px;
  color: #ffffff;
  font-weight: 500 !important;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: 2px solid #ffffff;
}

button:hover {
  color: #fff;
  background-color: #003c67;
}

.light,
.light article,
.light button {
  color: #030c15;
  background-color: #f9f4f0;
}

.light button {
  border-color: #030c15;
}

.light button:hover {
  color: #ffffff;
  background-color: #003c67;
}

.placeholder {
  filter: opacity(0%);
}

h4 {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 36px;
}

footer h4 {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 60px;
}

footer .box {
  align-self: flex-start;
}

main article {
  padding: 100px 0;
  flex: 1.02;
}

#project .box {
  margin-left: 7%;
  width: 70%;
}

#app {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#app img {
  width: 80%;
}

#project img, img.full {
  border-radius: 8px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.4);
}

#other-projects {
  align-items: flex-start;
}

#other-projects h2 {
  font-size: 36px;
}

#other-projects h2:not(:first-of-type) {
  margin-top: 40px;
}

#other-projects article:first-of-type {
  flex: 6;
}

#other-projects article:last-of-type {
  flex: 5;
}

.full {
  width: 105%;
}

#other-projects .full {
  margin-top: 18px;
  margin-bottom: 24px;
}

.box.first {
  width: 70%;
  margin-left: 10%;
}

.box.last {
  margin-left: -10%;
  width: 70%;
}

strong {
  font-weight: 500;
}

#presentation {
  display: flex;
  flex-direction: row;
}

#presentation .box {
  margin-left: 10%;
  width: 55%;
}

#presentation article {
  flex: 1;
  background-color: #003c67;
}

#player {
  height: 100%;
}

.player-wrapper {
  flex: 2;
}

/* Footer */

footer {
  position: relative;
  padding: 80px 10%;
  background: #252525;
}

#more {
  flex: 2;
}

#more .box {
  width: 100%;
  padding-right: 10%;
}

#info {
  flex: 1;
}

#info .box {
  width: 100%;
  padding-left: 25%;
  border-left: 1px solid #ffffff;  
}

footer h2 {
  font-size: 40px;
}

footer small {
  font-size: 12px;
  position: absolute;
  right: 50px;
  bottom: 30px;
}

footer small a {
  font-weight: 300;
}

/* Responsive */

@media screen and (max-width: 1200px) {
  #app img {
    width: 90%;
  }

  .intro article {
    padding-right: 0;
    padding-left: 0;
  }

  #info .box {
    padding-left: 16%;
  }

  br.mobile {
    display: block;
  }  
}

@media screen and (max-width: 1100px) {
  .intro img {
    left: 40px;
  }
}

@media screen and (max-width: 900px) {
  .intro {
    flex-direction: column;
    align-items: center;
  }

  .intro .image {
    margin-top: 50px;
  }

  .intro article {
    padding: 0;
  }

  .intro .box {
    padding: 60px 0;
  }

  #project {
    flex-direction: column;
  }

  #project .box {
    margin: 0;
  }

  .mobile {
    display: block;
    max-width: 100%;
    margin: 40px 0;
  }

  #app {
    display: none; 
  }

  header > h1 {
    font-size: 36px;
  }

  .intro {
    padding-top: 84px;
  }

  article h2 {
    font-size: 40px;
  }

  main article {
    padding-top: 70px;
  }

  section.mobile {
    margin: 0;
  }

  #presentation {
    flex-direction: column;
  }

  #presentation article {
    padding-bottom: 40px;
  }

  #presentation .box {
    margin-left: 0;
    width: 70%;
  }

  .player-wrapper {
    height: 56.7vw;
  }

  .mobile .box {
    width: 70%;
  }

  .mobile article {
    padding: 60px 0 30px 0;
  }

  #other-projects {
    padding: 80px 0;
    flex-direction: column;
  }

  #other-projects article {
    padding: 20px 0; 
  }

  .box.first, .box.last {
    margin-left: 0;
  }

  footer {
    padding: 80px 0;
    flex-direction: column;
    align-items: flex-start;
  }

  footer .box {
    width: 70% !important;
    padding-right: 0 !important;
  }

  #more, #info {
    width: 100%;
  }

  #info .box {
    border: none;
    border-top: 1px solid #ffffff;
    margin-top: 40px;
    padding: 40px 0 0 0;
  }

  .placeholder {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  main p,
  footer p {
    font-size: 18px;
  }

  h2 img {
    height: 36px;
  }

  .intro img {
    width: 40vw;
    height: 40vw;
  }

  button {
    padding: 16px 32px;
    font-size: 16px;
  }

  div.box {
    width: 80% !important;
  }

  img.full {
    border-radius: 0px;
    margin-left: -12.5%;
    width: 100vw;
  }

  .intro .box {
    padding: 50px 0 40px 0;
    width: 70%;
  }

  header > nav a.email,
  header > nav a.linkedin,
  header > nav a.github {
    display: none;
  }

  article h2 {
    font-size: 40px;
  }

  #info h2 {
    font-size: 30px;
  }
}
